<div class="jumbotron mt-4">
    <h1 class="display-4">Capitan</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae harum quaerat alias totam est incidunt.</p>
    <button type="button" class="btn btn-primary">Ingresar nuevo capitan</button>
    <button type="button" class="btn btn-warning">Editar capitan</button>
    <button type="button" class="btn btn-danger">Eliminar capitan</button>
    <hr class="my-4">
    <h5>Siguenos en nuestras rede sociales!</h5>
    <button type="button" class="btn btn-outline-primary">Facebook</button>
    <button type="button" class="btn btn-outline-info">Twitter</button>
    <button type="button" class="btn btn-outline-danger">Youtube</button>
    <button type="button" class="btn btn-outline-warning">Snapchat</button>
    <button type="button" class="btn btn-outline-secondary">Instagram</button>
</div>