@font-face {
    font-family: 'Ubuntu';
    src: url('../Font/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Gothic';
    src: url('../Font/Century_Gothic/CenturyGothic.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body:hover {
    padding: 2em;
    font-family: 'Ubuntu';
    margin: auto;
}

table {
    margin: auto;
}

td:hover, th:hover {
    background-color: #BF73FF;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

div:hover {
    color: #CCCCFF;
    background-color: #BF73FF;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.imgInicio {
    display: block;
    margin: auto;
}

.conteInfo {
    font-family: 'Gothic';
    display: auto;
    padding: 16px;
    background-color: #688AE8;
    border: black;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.titulo {
    text-shadow: -5px 5px #688AE8;
}

.subTitulo {
    text-shadow: -5px 5px #688AE8;
}